.projects-page {
max-width: 80%;
margin: 90px auto; // Centers the content and adds top/bottom spacing
overflow-y: scroll;
scroll-behavior: smooth;
height: 80vh;
// padding: 0 20px; 
  .page-title {
    
    margin-bottom: 2rem;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;

    .project-card {
      border: 1px solid #000000;
      padding: 2rem;
      background-color: #bbd1c5;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
      &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
      }

      h2 {
        
        width: 100%;
        // margin: 1rem 1rem 0.5rem;
        font-size: clamp(2rem, 5vw, 2rem);
      }

      

      p {
        font-size: clamp(1.5rem, 5vw, 1.5rem);
        color: #000000;
      }
    }
  }
}


@media only screen and (max-width:600px) {
.project-card {
      max-width: 90%;}

h1{
  font-size: 3rem;
}
}

@media only screen and (min-width:600px) {
  .project-card {
      max-width: 80%;}
}
