.projects-page {

// margin: 40px auto; // Centers the content and adds top/bottom spacing
overflow-y: scroll;
scroll-behavior: smooth;
width: 95%;
margin-left: 5%;
height: 100vh;
margin-bottom: 5%;
  .page-title {
    
    // margin: 0 auto; 
    margin-bottom: 2rem;
    text-align: center;
    max-width: 100%;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;

    .project-card {
      border: 1px solid #000000;
      padding: 1.2rem;
      background-color: #bbd1c5;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
      &:hover {
        box-shadow: 0 15px 22px rgba(0, 0, 0, 0.15);
      }

      img {
        width: 100%;
        height: 180px;
        object-fit: contain;
      }

      h2 {
        
        width: 100%;
        margin: 1rem 1rem 0.5rem;
        font-size: clamp(2rem, 5vw, 2rem);
        text-align: center;
        font-weight: 520;
        // font-style: semibold;


        letter-spacing: 0.01em;
      }

      

      p {
        font-size: clamp(1.5rem, 5vw, 1.5rem);
        color: #000000;
        text-align: center;
        font-style: italic;
        margin:0;
          letter-spacing: clamp(0.5px, 0.8vw, 1.5px);

      }
    }
  }
}


@media only screen and (max-width:600px) {
  .page-title {
    margin-top: 10rem;
    h1 {
    font-size: 3rem;
  }
  };
  .projects-grid {
    /* Force a single column and center grid items so smaller cards sit centered */
    grid-template-columns: 1fr;
    
    justify-items: center;
    // padding: 0 1rem;
  }
  .page-title {
    max-width: 90%;}
  .project-card {
    max-width: 90%;
    margin: 0 auto; /* centers the card */
  }

  
}

@media only screen and (min-width:600px) {
  .projects-page {
    max-width: 95%;

    // margin: 1rem auto;
  }
  .page-title {
    max-width: 100%;
  }

  .projects-grid {
    /* Force a single column and center grid items so smaller cards sit centered */
    grid-template-columns: 1fr;
    
    justify-items: center;
    padding: 0 1rem;
  }
  
  .project-card {
    max-width: 75%;
    margin: 0 auto;
  }
}
