.research-page {
    // padding-top: 10%;
    // margin-bottom: 10%;
  max-width: 80%;
  // margin: clamp(2rem, 10vh, 5rem) auto; // Responsive top-bottom spacing
//   padding: 0 clamp(1rem, 5vw, 2rem); // Responsive left-right spacing
  // height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  .page-title {
    margin-bottom: clamp(1rem, 5vh, 2.5rem);
    font-size: clamp(2rem, 5vw, 3rem); // Responsive font size
    font-weight: bold;
    text-align: center;
  }

  .research-list {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 2vw, 1.8rem); // Responsive gap between boxes
    // margin-bottom: 10%;
    .citation-box {
      border: 2px solid #000000;
      border-radius: 8px;
      padding: clamp(1rem, 2vw, 1.5rem);
      background:#bbd1c5;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: #ffd700;
      }

      .citation-header {
        display: flex;
        align-items: center;
        gap: clamp(0.5rem, 1vw, 1rem);
        margin-bottom: clamp(0.5rem, 1vh, 2.5rem);

        .id-number {
          font-size: clamp(1.2rem, 2.2vw, 2rem);
          font-weight: bold;
          color: #444;
        }

        .paper-title {
          font-size: clamp(1.2rem, 2.2vw, 2rem);
          font-weight: bold;
          color: #000000;
        }
      }

      .citation-text {
        font-size: clamp(1.5rem, 2vw, 2rem);
        color: #000000;
        line-height: 1.6;
      }

      .paper-link {
        display: inline-block;
        font-size: clamp(1rem, 1.8vw, 2rem);
        color: #0056b3;
        text-decoration: underline;
        margin-left: clamp(2rem, 2vw, 2rem);

        &:hover {
          color: #003580;
        }
      }
    }
  }
}
