.nav-bar {
    background: #181818;
    font-size: clamp(0.6rem, 1vw, 1.2rem); // scales with viewport width

    // height: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;

    top: 0;
    z-index: 3;


    .logo {
        display: block;
        text-decoration: none;
        position: relative;

        img {
            display: block;
            margin: 1px auto;
            width: 50%;
            height: auto;


        }

        .myName {
            text-decoration: none;
            color: white;
            display: block;
            // margin-top: 15px;
            margin: 10% auto;
            font-size: 1.5em;
            // font-size: 150%;
            text-align: center;
            text-transform: uppercase;
            // width: 50%;
            font-family: Fantasy, Helvetica;
            font-weight: 200;
        }
    }

    nav {
        display: flex;
        // padding-left: 1rem;;
        flex-direction: column;
        text-align: center;
        position: absolute;



        a {
            font-size: 2.5em;
            color: #4d4d4e;
            width: 100%;
            display: block;
            line-height: 51px;
            height: 41px;
            position: relative;
            text-decoration: none;
            text-align: center;



            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ffd700;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }



            &:after {
                content: '';
                font-size: 1em;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
                padding-bottom: 20px;
            }

            &:first-child {
                &:after {
                    content: 'HOME';
                    font-size: clamp(0.1rem, 1vw, 2rem);
                }
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
                font-size: clamp(0.1rem, 1vw, 2rem);


            }
        }

        a.portfolio-link {
            &:after {
                content: 'RESEARCH';
                font-size: clamp(0.1rem, 1vw, 2rem);

            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
                font-size: clamp(0.1rem, 1vw, 2rem);

            }
        }

        a.projects-link {
            &:after {
                content: 'PROJECTS';
                font-size: clamp(0.1rem, 1vw, 2rem);

            }
        }

        a.skills-link {
            &:after {
                content: 'SKILLS';
                font-size: clamp(0.1rem, 1vw, 2rem);

            }
        }

        a.active {
            svg {
                color: #ffd700;
            }
        }

    }

    ul {
        position: absolute;
        display: flex;

        padding: 0;
        list-style: none;
        text-align: center;

        // margin:0;

        li {
            a {
                padding: 15px 0;
                display: block;
                font-size: 2em;
                line-height: 16px;

                &:hover svg {
                    color: #ffd700;
                }
            }
        }
    }
}


@media only screen and (max-width:600px) {
    .nav-bar {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        top: 0;
        height: 8rem;
        transition: all 0.3s ease-in-out;

        .logo {
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            display: block;
            height: 100%;
            width: 25%;
            position: relative;

            .myName {
                display: none;
            }
        }

        nav {
            flex-direction: row;
            position: relative;
            height: 100%;
            justify-content: space-evenly;
            width: 50%;
            align-items: center;
        }

        /* --- ICON + TEXT ADJUSTMENT --- */
        nav a {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 50px !important;

            /* move text slightly ABOVE the icon */
            &:after {
                position: absolute;
                top: -3rem;
                height:3rem;
                /* distance above the icon */
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                width: max-content;
                padding: 0;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:hover:after,
            &.active:after {
                opacity: 1;
            }
        }

        /* --- SOCIAL ICON MENU FIX --- */
        .social-top.open {
            visibility: visible;
            animation-name: slideBelow;
            animation-duration: 2s;
            transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }

        .social-top.false {
            animation-name: slideAbove;
            animation-duration: 2s;
            transition: all 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            opacity: 0;
        }

        .social-top {
            position: absolute;
            top: 80px;
            align-items: center;
            justify-content: center;
            width: 50px;
            visibility: hidden;
            display: flex;
            background-color: #181818;
            right: 10px;
            border-radius: 0 0 20px 20px;

            ul {
                right: -13%;
                transition: all 1s ease-in-out;
                right: 0%;
                display: flex;
                flex-direction: column;
                background: #181818;
                align-items: center;
                position: relative;
                justify-content: space-evenly;

                a {
                    font-size: 30px;
                }
            }

            &::before,

            &::after {
                // transition: all 1s ease-in-out; 
            }
        }

        .social {
            color: white;
            display: block;
            position: relative;
            line-height: 80px;
            align-items: center;
            text-align: right;
            padding-right: 20px;
            margin: auto;
            font-size: 25px;
            right: 0;
            width: 25%;

            .social_button {
                transition: all 1s ease-in-out;
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            .social_button.open {
                svg {
                    color: #ffd700;
                    transition: all 0.37 ease-in-out;
                }
            }
        }
    }

    /* --- FONT SCALING --- */
    .nav-bar,
    .nav-bar nav a,
    .nav-bar ul li a {
        font-size: clamp(1.2rem, 4vw, 2rem) !important;
    }

    .nav-bar .logo .myName {
        font-size: clamp(1rem, 3.5vw, 1.8rem) !important;
    }

    .nav-bar nav a:after {
        font-size: clamp(0.9rem, 3vw, 1.6rem) !important;
    }
}


@media only screen and (min-width:600px) {
    .nav-bar {
        width: 6vw;
        min-width: 70px;
        max-width: 120px;
        height: 100vh;
        box-sizing: border-box;
        overflow-x: hidden;

        nav {
            height: 210px;
            bottom: 50%;
            margin-top: -120px;
            width: 100%;

            // padding-top: 40px;
            a {
                padding-bottom: 30px;
                font-size: clamp(3rem, 1.7vw, 2rem);
                //  &:after{
                //     font-size: clamp(1.7rem, 1.7vw, 2rem);
                //  }
                width: 95%;
                // overflow: hidden;
            }

        }

        ul {
            width: 0%;
            bottom: 30px;
            margin-left: -10px;
            flex-direction: column;
            margin-top: auto;

            li {
                a {
                    font-size: 1.7em;
                }
            }
        }

        .social {
            display: none;
            cursor: pointer;
            // padding-left: -1rem;
        }

    }

    //         .nav-bar,
    //   .nav-bar nav a,
    //   .nav-bar ul li a {
    //     font-size: clamp(1.2rem, 4vw, 2rem) !important;
    //   }

    //   .nav-bar .logo .myName {
    //     font-size: clamp(1rem, 3.5vw, 1.8rem) !important;
    //   }

    .nav-bar nav a:after {
        font-size: clamp(0.5rem, 0.7vw, 1.7rem) !important;
        // max-width: 95%;
    }
}

@keyframes slideAbove {
    from {
        margin-top: 0%;
        width: 50px;
    }

    to {
        margin-top: -80px;
        width: 50px
    }

}

@keyframes slideBelow {
    from {
        margin-top: -80px;
        width: 50px
    }

    to {
        margin-top: 0%;
        width: 50px;
    }


}

@media only screen and (min-width: 600px) and (max-height: 990px) {
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: visible !important;
    overflow-y: visible !important;
    z-index: 3;
  }

  .nav-bar > ul {
    display: none !important;
  }

  .nav-bar .social {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .nav-bar .social .social_button {
    width: 46px;
    height: 46px;
    padding: 0;
    border-radius: 50%;

    background: rgb(233, 231, 231);
    border: 2px solid transparent;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.25s ease, background-color 0.25s ease;
  }

//   .nav-bar .social .social_button.open{
//     border-color: #ffd700;
//   }

//   .nav-bar .social .social_button.open svg{
//     color: #ffd700 !important;
//   }

  .nav-bar .social .social_button.open {
    background: #181818;
    border-color: #ffd700;
  }

  .nav-bar .social .social_button.open svg {
    color: #ffd700 !important;
  }

  .nav-bar .social-top {
    position: absolute;
    left: 80%;
    bottom: calc(20px + 23px);
    transform: translateY(50%) translateX(18px);
    background: #181818;
    border-radius: 8px;
    padding: 6px 10px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: transform 0.35s ease, opacity 0.2s ease, visibility 0.2s ease;
    z-index: 9;
    white-space: nowrap;
  }

  .nav-bar .social-top.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(50%) translateX(0);
  }

  .nav-bar .social-top ul {
    position: relative !important;
    width: auto !important;
    bottom: auto !important;
    margin-left: 0 !important;

    list-style: none;
    display: flex !important;
    flex-direction: row !important;
    gap: 14px;

    margin: 0;
    padding: 0;
    align-items: center;
  }

  .nav-bar .social-top ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    line-height: 1;
  }

  .nav-bar .social-top ul li a svg {
    color: white !important;
  }

  .nav-bar .social-top ul li a:hover svg {
    color: #ffd700 !important;
  }
}
