.project-detail-page {
  display: flex;
  margin-top: 3vh;
  flex-direction: column;
  height: 100vh;
  // padding: 1rem ;

  .back-button {
    position: relative;
    top: 1vh;
    left: 200px;
    background: yellow;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 10;
  }

  .project-header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;

    .project-title {
      font-size: 4rem;
      color: Black;
    }

    .project-subtitle {
      font-size: 2.3rem;
      color: #555;
    }
  }

  .project-body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    gap: 2rem;

    // .sidebar {
    //   width: 25%;
    //   padding-right: 1rem;
    //   border-right: 1px solid #ccc;
    //   position: sticky;
    //   top: 100px;
    //   align-self: flex-start;
    // }

    .project-content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-right: 1rem;
      padding-bottom: 2rem;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      p {
        line-height: 1.6;
        margin-bottom: 1rem;
      }

      ul {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width:600px) {

}

@media only screen and (min-width:600px) {
  .project-detail-page {
  
  padding: 1rem 3rem;
}
}
