.project-detail-page {
  display: flex;
  flex-direction: column;
  margin-top: clamp(2vh, 4vh, 5vh);
  padding: clamp(0.5rem, 4vw, 1rem);
  height: 100vh;
  box-sizing: border-box;

  .project-header {
    text-align: center !important;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: clamp(3rem, 4vh, 1rem);
    margin-bottom: clamp(1rem, 3vh, 1.5rem);

    .project-title {
           
      font-size: clamp(2rem, 5vw, 4rem);
      color: black;
    }

    .project-subtitle {
      font-size: clamp(1.2rem, 4vw, 2.3rem);
      color: #555;
    }
    .project-url {
      font-size: clamp(1.4rem, 4vw, 2.3rem);
      color: #555;
    }
  }

  .divider {
    height: 10px;
    background-color: #7cb897;
    margin: 10px auto;
    width: 40vh;
    justify-content:center;
  }

  .project-body {
    display: flex;
    flex-grow: 1;
    overflow-y:scroll;
    gap: clamp(1rem, 3vw, 2rem);
    padding-bottom: clamp(3rem, 4vh, 4rem);
    // border: 1px solid black;
  border-radius: 8px;
    .project-content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-right: clamp(0.5rem, 2vw, 1rem);
      padding-bottom: clamp(2rem, 4vh, 3rem);

      img {
        width: 100%;
        height: auto;
        margin-bottom: clamp(0.5rem, 2vh, 1rem);
      }

      p {
        line-height: 1.6;
        margin-bottom: clamp(0.75rem, 2vh, 1rem);
        // font-size: clamp(0.95rem, 2.5vw, 1.1rem);
      }

      ul {
        margin-bottom: clamp(1rem, 2vh, 1.5rem);
      }
    }
  }
}
