.project-detail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;

  .project-header {
    text-align: center !important;
    padding-left: 10%;
    padding-right: 10%;
    
    // 
    // margin-bottom: clamp(1rem, 3vh, 1.5rem);

    .project_detail-title {
           
      font-size: clamp(1.5rem, 5vw, 3rem);
      color: black;
      margin:0px;
    }

    .project-subtitle {
      font-size: clamp(1.1rem, 4vw, 2.1rem);
      color: #555;
      font-weight: 550;
      margin:0px;
    }
    .project-url {
      
      color: #555;
      
      h3{
        font-size: clamp(1.4rem, 4vw, 2.3rem) !important;
      }
    }
  }

  .divider {
    height: 10px;
    background-color: #7cb897;
    margin: 10px auto;
    width: 40vh;
    justify-content:center;
  }

  .project-body {
  display: flex;
  flex: 1 1 auto;
  overflow-y: scroll;

  max-width: 90%;
  width: 80%;
  margin: 0 auto;

  gap: clamp(1rem, 3vw, 2rem);
  padding-bottom: clamp(3rem, 4vh, 4rem);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;

  .project-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: clamp(0.5rem, 2vw, 1rem);
    padding-bottom: clamp(2rem, 4vh, 3rem);
  
      img {
        width: 100%;
        height: auto;
        margin-bottom: clamp(0.5rem, 2vh, 1rem);
      }

      p {
        line-height: 1.6;
        margin-bottom: clamp(0.75rem, 2vh, 1rem);
        // font-size: clamp(0.95rem, 2.5vw, 1.1rem);
      }

      ul {
        margin-bottom: clamp(1rem, 2vh, 1.5rem);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .project-detail-page {
    padding-top: 5rem;
    margin-top: clamp(3rem, 4vh, 1rem);
}
}