html{
  font-size:62.5%;
}


body {
  margin: 0;
  font: 300 11px/1.4 Helvetica;
  color: #000000;
  background: #f4f5ea;
  /* background: #d9d9d9; */

  overflow:hidden;
  display:block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
