html{
  font-size:62.5%;
}


body {
  margin: 0;
  /* font: 400 11px/1.4 Helvetica; */
  font-family: 'Helvetica';
  font-size: clamp(1.7rem, 2.5vw, 1.8rem);
  letter-spacing: clamp(0.5px, 0.8vw, 1.5px);
  color: #000000;
  background: #f4f5ea;
  /* background: #d9d9d9; */

  overflow:hidden;
  display:block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-family: 'Helvetica';
  font-size: clamp(1.7rem, 2.5vw, 1.8rem);
  letter-spacing: clamp(0.5px, 0.8vw, 1.5px);
}